@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: black;
  margin: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar>img {
  width: 80%;
  margin: 20px 10%;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: white;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #55555563;
  color: white;
}


div.content {
  margin-left: 200px;
  padding: 1px 16px;
  width: 90%;
}



.notification {
  max-width: 600px;
  margin: 0 auto;
}

.notif-item {
  display: flex;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #181818;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.notif-item img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.notif-item div {
  flex: 1;
}

.notif-item strong {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.notif-item strong a {
  color: white;
  text-decoration: none;
}

.notif-item strong a:hover {
  text-decoration: underline;
}

.notif-item .time {
  color: gray;
  font-size: 12px;
}
