@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: black;
  margin: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}


.sidebar>img {
  width: 80%;
  margin: 20px 10%;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: white;
  color: black;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #55555563;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  width: 90%;
}

div.box {
  text-align: center;
  width: 700px;
  margin: 0 30%;
  align-items: center;
  background-color: #181818;
  border: 1px rgba(255, 255, 255, 0.238) solid;
  border-radius: 30px;
}

.dropbtn {
  background-color: #181818;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

div.option-panel {
  position: relative;
  display: inline-block;
  width: 700px;
  border-bottom: 1px rgba(255, 255, 255, 0.238) solid;
}

div.options {
  display: none;
  position: absolute;
  background-color: #181818;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10%;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

div.option-panel a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px black solid;
}

div.option-panel a:hover {
  border-radius: 25%;
}

div.option-panel:hover .options {
  display: block;
}


div.post-area {
  width: 700px;
  margin: 0 30%;
  margin: 20px 0;
}

div.upload-thread {
  display: flex;
  width: 700px;
  padding: 0 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
  border-bottom: 1px rgba(255, 255, 255, 0.238) solid;
}

img.avatar {
  width: 10%;
  height: 66px;
  border-radius: 50%;
  background-color: gray;
}

textarea.input {
  width: 75%;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  border: none;
  background-color: #181818;
  color: white;
  resize: none;
}

.post-button {
  width: 10%;
  border: none;
  background-color: #181818;
  color: white;
  font-size: 20px;
}

div.post {
  width: 687px;
}

div.post:not(:first-child) {
  border-top: 1px rgba(255, 255, 255, 0.238) solid;
  margin-top: 10px;
}

div.post-header {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

div.post-content {
  width: 85%;
  padding: 10px 0;
  text-align: left;
}


img.post-image {
  padding: 10px;
  width: 100%;
  max-height: 150%;
  border-radius: 30px;
  box-sizing: border-box;
}

.post-footer {
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
}